@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family-bigger: "Bigger Display";
}

@font-face {
  font-family: "Pangaia";
  src: url("./fonts/Pangaia/PPPangaia-BoldItalic-BF654c530c8d2fa.otf")
    format("opentype");
  font-weight: 700;
  font-style: italic;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bigger Display";
  src: url("./fonts/BiggerDisplay/BiggerDisplay.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Approach Trial";
  src: url("./fonts/ApproachTrial/ApproachTRIAL-Lt.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Approach Trial";
  src: url("./fonts/ApproachTrial/ApproachTRIAL-Rg.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Approach Trial";
  src: url("./fonts/ApproachTrial/ApproachTRIAL-Md.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Approach Trial";
  src: url("./fonts/ApproachTrial/ApproachTRIAL-SmBd.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    @apply text-white max-w-[1920px] h-screen bg-[#000] font-ApproachTrial;
  }
}

@layer components {
  .font-size-custom {
    font: 700 min(14vw, 18.5rem) / 0.8 var(--font-family-bigger);
  }
  .padding-custom {
    padding: 8vh 12.5% 13vh 8.33%;
  }
  .paragraph {
    font-size: max(20px, 2.9vw);
  }
  .burger {
    width: 100%;
  }
  .burger::after,
  .burger::before {
    content: "";
    display: block;
    width: 40%;
    background-color: black;
    height: 2px;
    margin: auto;
    position: relative;
    transition: transform 0.3s;
  }
  .burger::after {
    top: -5px;
  }
  .burger::before {
    top: 5px;
  }
  .burgerActive::after {
    transform: rotate(45deg);
    top: -1px;
  }
  .burgerActive::before {
    transform: rotate(-45deg);
    top: 0px;
  }
  .linkContainer {
    perspective: 120px;
    perspective-origin: bottom;
  }
  .project {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px 50px 100px;
    border-top: 1px solid rgb(255 255 255 / 0.15);
    cursor: pointer;
    transition: all 0.2s;
  }
  .project:last-of-type {
    border-bottom: 1px solid rgb(255 255 255 / 0.15);
  }

  .project:hover {
    opacity: 0.5;
  }

  .project:hover h2 {
    transform: translateX(-10px);
  }

  .project:hover p {
    transform: translateX(10px);
  }

  .project h2 {
    font-size: 60px;
    margin: 0px;
    font-weight: 400;
    transition: all 0.4s;
  }

  .project p {
    transition: all 0.4s;
    font-weight: 300;
  }
  .modalSlider {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  .cursor,
  .cursorLabel {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #455ce9;
    color: white;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 300;
    pointer-events: none;
  }

  .cursorLabel {
    background-color: transparent;
  }
  .custom-grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: clamp(1rem, 0.8571rem + 1.0143vi, 3.5rem);
  }
  .section-heading {
    font-size: clamp(3.5rem, 2.3571rem + 5.5143vi, 10.5rem);
    font-weight: 600;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: 0.5s;
  }
  .slider {
    width: 100vw;
    height: 100vh;
    border-radius: 12px;
    background: #dbdbdb;
  }
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background: #dbdbdb;
    overflow: hidden;
  }
  .slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .slide-content h1 {
    font-family: "Bigger Display", sans-serif;
    white-space: nowrap;
    font-size: 20vw;
    text-transform: uppercase;
    font-weight: lighter;
    color: #000;
  }
  .slide-img {
    position: absolute;
    width: 250px;
    height: 150vh;
    filter: saturate(0);
  }
  .slide-img img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 250px;
    height: 600px;
  }

  .slide-img-1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-20deg);
  }
  .slide-img-2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
  }
}
