@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter-display: "Inter Display";
}

@font-face {
  font-family: "Neuro X";
  src: url("./fonts/NeuroX/Neuro-X-Bold-Rounded.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Antikor Mono";
  src: url("./fonts/AntikorMono/Antikor-Mono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    @apply text-white max-w-[1920px] h-screen bg-[#000] font-Inter;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@layer components {
  html.lenis {
    height: auto;
  }
  .inversion-lens {
    position: relative;
    width: 100%;
    height: 100vh; /* Đảm bảo chiều cao cố định */
    border-radius: 16px;
    overflow: hidden;
  }
  .split {
    text-transform: uppercase;
    font-size: 72px;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 0.9;
  }
  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
  .trail-img {
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: cover;
    transform-origin: center;
    pointer-events: none;
    will-change: transform;
  }

  .heading {
    text-transform: uppercase;
    font-family: "Bigger Display", sans-serif;
    font-size: 150px;
    font-weight: 600;
    color: #fff;
  }
  .cards {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: 25svh;
  }
  .card-marquee {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    overflow: hidden;
  }
  .marquee {
    display: flex;
  }

  .img-preview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 75%;
    overflow: hidden;
  }

  .img-preview img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .minimap {
    position: absolute;
    top: 50%;
    right: 8em;
    width: 80px;
  }
  .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border: 1px solid #fff;
    z-index: 2;
  }
  .items {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    will-change: transform;
  }
  .item {
    width: 100%;
    height: 60px;
    padding: 5px;
    cursor: pointer;
  }
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .marquee h1 {
    white-space: nowrap;
    font-size: 10vw;
    font-weight: 600;
    margin-right: 30px;
  }
  .card {
    position: relative;
    width: 100vw;
    height: 100svh;
    padding: 1.5em;
  }
  .card-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    will-change: transform;
  }
  .card-img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 150px;
    overflow: hidden;
  }
  .card-img img {
    transform: scale(2);
  }
  .card-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: start;
    z-index: 1;
  }
  .card-content .card-title {
    position: absolute;
    max-width: 1420px;
    width: 100%;
    top: 41%;
    left: 2%;
    text-align: left;
  }
  .card-content .card-description {
    position: relative;
    text-align: left;
    width: 40%;
    padding-left: 34px;
    margin-bottom: 3em;
    transform: translateX(40px);
    opacity: 0;
  }
  .card:nth-child(2) {
    margin-top: 50vh;
  }
  .text-gradient {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      to bottom left,
      #f3ffa6 0%,
      #e6ffdd 31%,
      #ffedb4 79%,
      #f7df91 100%
    );
  }
  .section-container {
    position: absolute;
    top: 208px;
    left: 0;
    width: 100vw;
    height: 90vh;
    display: flex;
    will-change: transform;
    overflow-y: hidden;
  }
  .time-line {
    position: absolute;
    bottom: -13.5rem;
    left: 0;
    width: 100vw;
    height: 10vh;
    padding: 2.25em 1em;
    display: flex;
    justify-content: space-around;
  }
  .marker {
    width: 1px;
    height: 100%;
    background: #fff;
  }
  .scroller {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    text-transform: uppercase;
    background: #000;
    cursor: pointer;
    line-height: 120%;
  }

  .img {
    width: 100%;
    height: 100%;
    max-width: 687px;
  }
  .section-author {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
  }
  .section-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .preloader-progress,
  .preloader-mask,
  .preloader-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    z-index: 99999;
    pointer-events: none;
  }
  .preloader-progress {
    background-color: #292725;
    z-index: 1;
    will-change: opacity;
  }
  .preloader-progress-bar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    width: 55%;
    height: 100%;
    background-color: #f5f5f5;
    transform-origin: left;
    will-change: transform;
  }
  .preloader-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    mix-blend-mode: difference;
    z-index: 2;
  }
  .preloader-mask {
    background-color: #181717;
    mask: linear-gradient(#f5f5f5, #f5f5f5),
      url("/assets/images/mask.svg") center/50% no-repeat;
    mask-composite: subtract;
    will-change: transform;
    z-index: 1;
  }
  .preloader-content {
    z-index: 2;
  }
  .preloader-footer {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    text-align: center;
  }
  .line,
  .char {
    display: inline-block;
    position: relative;
    padding-bottom: 0.2em;
    margin-bottom: -0.2em;
    will-change: transform;
  }
  .line-wrapper {
    display: block;
    overflow: hidden;
  }
  .line {
    display: block;
    will-change: transform;
  }
  .char-wrapper {
    display: inline-block;
    overflow: hidden;
  }
  .awards {
    position: relative; /* Ensure awards section is in the normal flow */
    z-index: 10; /* Ensure awards section is above other content */
    min-height: 83vh;
    height: max-content;
  }
  .awards p {
    padding: 5px 20px;
  }
  .awards-list {
    border-top: 1px solid #2c2b2b;
  }
  .award {
    height: 80px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .award-wrapper {
    position: relative;
    height: 240px;
    will-change: transform;
    transform: translateY(-160px);
  }
  .award-name,
  .award-project {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 5px 20px;
    cursor: pointer;
    border-bottom: 1px solid #2c2b2b;
  }
  .award-name {
    color: #e3e3db;
  }
  .award-project {
    background-color: #e3e3db;
    color: #000;
  }
  .award-preview {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 30%;
    height: 30%;
    z-index: 1000;
  }
  .transition-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    display: flex;
    pointer-events: none;
    z-index: 999;
  }
  .block {
    flex: 1;
    height: 100%;
    background-color: #222;
    transform: scaleX(0);
    transform-origin: left;
  }
  .logo-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    pointer-events: none;
    opacity: 0;
  }
  .logo-container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  #grid-canvas {
    z-index: 0;
  }
  #letter-canvas {
    z-index: 1;
  }
  .text-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    perspective: 2500px;
    perspective-origin: center;
  }
  .letter {
    position: absolute;
    font-size: 14rem;
    font-weight: bold;
    color: #f40c3f;
    z-index: 2;
    transform-origin: center;
    transform-style: preserve-3d;
    will-change: transform;
  }
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    overflow: hidden;
    z-index: 9999;
  }
  .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
  }
  .block {
    width: 100%;
    height: 100%;
    background-color: #ebe5d9;
  }
  .intro-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 0.25rem;
  }
  #word-1 {
    position: relative;
    left: -0.5rem;
    padding-right: 1rem;
  }
  .word h1 {
    font-size: 2.5rem;
  }
  .divider {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center top;
    width: 1px;
    height: 100%;
    background-color: #000;
  }

  #gallery {
    position: relative;
    width: 100vw;
    height: 100svh;
  }
  .vignette-overplay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(
      ellipse at center,
      transparent 50%,
      rgba(0, 0, 0, 0.1) 70%,
      rgba(0, 0, 0, 0.75) 90%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

@layer utilities {
  .transition-clipath {
    clip-path: inset(50% 0 50%);
    transition: clip-path 0.4s;
  }
  .ease-expo {
    transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
  }
  .place-content-flex {
    align-content: flex-start;
    justify-content: flex-end;
  }
  .flex-flow {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .flex-flow-row {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .spline-wrapper {
    z-index: -1;
    perspective-origin: 0%;
    transform-origin: 0%;
    object-fit: cover;
    position: absolute;
    overflow: hidden;
  }
}
